<!doctype html>
<html>
  <head>
    <title>404 Not Found</title>
  </head>
  <body>
    <h1>This page isn't avilable right now</h1>

    <a><p>{{url}}</p></a>

  </body>
</html>
<!-- a padding to disable MSIE and Chrome friendly error page -->
<!-- a padding to disable MSIE and Chrome friendly error page -->
<!-- a padding to disable MSIE and Chrome friendly error page -->
<!-- a padding to disable MSIE and Chrome friendly error page -->
<!-- a padding to disable MSIE and Chrome friendly error page -->
<!-- a padding to disable MSIE and Chrome friendly error page -->
