<!doctype html>
<html lang="en" ng-app="iot-app">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="elliott@gmail.com">
    <meta name="description" content="https://github.com/staytime/pocket-server">
    <title>Pocket server</title>

    <link rel="stylesheet" href="./static/css/bootstrap.min.css">

    <script src="./static/js/angular-1.8.2.min.js"></script>
    <script src="./static/js/main.js" defer></script>

    <!-- <link rel="icon" href="./static/img/favicon.ico"> -->
    <meta name="theme-color" content="#7952b3">

    <style>
     .bd-placeholder-img {
       font-size: 1.125rem;
       text-anchor: middle;
       -webkit-user-select: none;
       -moz-user-select: none;
       user-select: none;
     }

     @media (min-width: 768px) {
       .bd-placeholder-img-lg {
         font-size: 3.5rem;
       }
     }

     .b-example-divider {
       height: 3rem;
       background-color: rgba(0, 0, 0, .1);
       border: solid rgba(0, 0, 0, .15);
       border-width: 1px 0;
       box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
     }

    </style>


  </head>
  <body>
    <main ng-controller="InterfaceController as uiController">
      <h1 class="visually-hidden">Heroes examples</h1>
      <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="./static/img/raspberry-pi.png" alt="" height="128px">
        <h1 class="display-5 fw-bold mb-4">Pocket Server</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">IOT device in your pocket</p>

          <div class="">
            <p class="lead">See more at GitHub page.</p>
            <p>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
              </svg>
              <a href="https://github.com/staytime/pocket-server" target="_blank">
                https://github.com/staytime/pocket-server
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class="b-example-divider"></div>

      <div class="container col-xl-10 col-xxl-8 px-4 py-5">
        <div class="row align-items-center g-lg-5 py-3">
          <div class="col-md-10 mx-auto col-lg-5 mb-3">
            <form class="p-4 p-md-5 border rounded-3 bg-light">
              <img class="d-block mx-auto" src="./static/img/lightbulb.svg" alt="" height="128px">
              <hr class="my-3">
              <div class="from-check form-switch center-block mx-auto" style="display: table;">
                <input class="form-check-input" type="checkbox" style="width: 6em; height: 3em;"
                       ng-model="uiController.lightbulb_status"
                       ng-click="uiController.switchLightbulb()">
              </div>
            </form>
          </div>
          <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 mb-3">Control light bulb</h1>
            <p class="col-lg-10 fs-4">Click to turning ON / OFF the light</p>
          </div>
        </div>
      </div>
      <div class="b-example-divider mb-0"></div>



      <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6 mb-3">
            <img src="./static/img/pico-connecting.png" class="d-block mx-lg-auto img-fluid" style="max-width: 100%" loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Raspberry pi Pico W</h1>
            <p class="lead">Powerful, flexible microcontroller boards, cost $6</p>
            <a href="https://www.raspberrypi.com/products/raspberry-pi-pico/" class="btn btn-primary btn-lg px-4 me-md-2" target="_blank">learn more</a>
          </div>
        </div>
      </div>
      <div class="b-example-divider"></div>

    </main>





  </body>
</html>
